VITE_GEMINI_API_KEY=AIzaSyA5GBtshUxcJYMd9zHeLzHeVhTbJn15h5s
VITE_SUPABASE_URL=https://ipcyzgsqtclvlvyrdwdz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwY3l6Z3NxdGNsdmx2eXJkd2R6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1NDA2MTAsImV4cCI6MjA3NzExNjYxMH0.0M-6unW5uRzjAZkkDLvSRVl3Su7A3QVZaC6gyEFR-t4
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwY3l6Z3NxdGNsdmx2eXJkd2R6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTU0MDYxMCwiZXhwIjoyMDc3MTE2NjEwfQ.XAOJniolEbt6h0TRV3HAuGO-bioiX1LmrMddO_H-EzE